.top-header {
    display: flex;
    align-items: center;   /* 垂直居中 */
    gap: 10px;             /* 头像和文字间距 */
    background: rgb(10 10 0 / 0.1);
    height: 50px;
    padding: 5px 15px;
}

.top-header h2 {
    margin: 0; /* 很关键！去掉默认外边距 */
    font-family: Roboto, serif;
    font-size: 20px;
}

.user-card {
    position: relative;
    height: 200px;
}

/* 横向布局 + 垂直居中 */
.card-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* 右侧内容 */
.card-content h1 {
    margin: 0;
    font-family: "Microsoft YaHei", serif;
    font-size: 48px;
}

.card-content p {
    margin-top: 10px;
    font-size: 24px;
}

/* 高亮 XXX */
.highlight {
    font-size: 48px;
    font-weight: bold;
    font-family: "Microsoft YaHei", serif;
    color: #409EFF; /* Element Plus 主色 */
}

.signout-top-right {
    position: absolute;
    top: 10px;
    right: 10px;

}

.supplement-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.table {
    width: 100%;
    margin-top: 30px;
    font-family: "Microsoft YaHei", serif;
    font-size: 16px;
    align-items: center;
}

.history-pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
